body {
    padding:0;
    margin:0;
}

.header {
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("images/david-marcu-78A265wPiO4-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top:20px;
    text-align: center;
    color:#fff;

}

.header img {
    width: 100px;
    float: left;
}

.login-btn {
    width:100px;
    padding:8px 0;
    outline:none;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50px;
    background:transparent;
    color:#fff;
    float:right;
}

.header h1 {
    padding-top:200px;
    padding-bottom: 0;
    font-size: 55px;
}

.header p {
    margin:18px 0;
}

.input-group {
    width: 90%;
    max-width: 500px;
    margin:auto;
    padding:2px;
}

.input-group .input-group-text{
    border-radius: 0 8px 8px 0;
    padding-left:10px;
    background-image: linear-gradient(#15C3DA,#18D68A);
    color:rgb(255, 255, 255);
}   

.features {
    padding:100px 0;
}
h1 {
    text-align: center;
    padding-bottom:30px ;
}

.feature-img img{
    width: 100%;
}

.price {
    width:50px;
    height: 50px;
    background:#ff5722 ;
    color:#fff;
    font-weight:600;
    border-radius:50%;
    padding:10px;
    box-shadow: 0 0 10px 1px rgba(37,73,214,0.18);
    position: absolute;
    left: 20px;
    bottom: -25px;
}

.feature-img {
    position: relative;
}

.rating {
    padding: 1px;
    float:right;
    background:rgba(255, 255, 255, 0.7);
    bottom:-1px;
    right:0;
    position:absolute;
}

.features .fa {
    font-size:15px;
    color:#ff5722;
}

.feature-details {
    padding: 10px;
    text-align: justify;    
}

.feature-details h4 {
    font-weight: 600;
    padding-top:20px;
}

.feature-details .fa {
    margin: 5px;
}

.feature-box {
    box-shadow: 0 0 10px 1px rgba(37,73,214,0.18);
    margin-bottom: 10px;
}

.gallery {
    padding: 100px 0;
    background: #efefef;

}

.gallery-box img {
    width:100%;
    border-radius: 10px;
    cursor: pointer;
    transition:0.6s;
}

.gallery-box img:hover {
    transform:scale(1.1);
}

.gallery-box h4 {
    text-align: center;
    color:white;
    text-shadow:-2px 2px 2px #000 ;
    font-weight:500;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    font-size:20px;
}

.gallery-box {
    position: relative;
    margin-bottom: 30px;
}

.banner {
    height:80vh ;
    background-image: url("https://images.unsplash.com/photo-1674856320941-7e442d7c4799?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1032&q=80");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    display:flex;
    align-items: center;
    
}
.banner-highlights {
    width: 100%;
    padding:20px 0;
    background: rgba(0,0,0,0.7);
    text-align: center;
    color:#fff;

}

.booking {
    width:200px;
    padding:8px 0;
    outline:none;
    /* border: 2px solid rgb(255, 255, 255); */
    border-radius: 50px;
    /* background:transparent; */
    color:#fff;


}

.button {
    display:flex;
    align-items: center;
    justify-content: center;
}

.users-feedback {
    padding:100px 0;
}

.user-review {
    text-align: center;
    box-shadow: 0 0 10px 0 rgba(0,0,100,0.2);
    padding-bottom: 50px;
}

.user-review p {
    padding:50px 10px 10px 10px;
}

.card1 img {
    width:60px;
    height:60px;
    border-radius: 50%;
    position:relative;
    left: 35%;
    top:-6%;
}
